@charset "utf-8";

html,body{margin:0;padding:0;font-size:15px;}
body {margin:0;padding:0;font-family: NotoSans, 'Noto Sans KR', dotum, "돋움", sans-serif;color:#000;font-weight:300;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
div, p, ul, ol, li, img, a, table, td, th, tr, h1, h2, h3, h4, h5, h6, form, input, span, iframe, dl, dt, dd, caption  {margin:0;padding:0;border:none;}
table{border-collapse:collapse; vertical-align:middle;font-size:100%;}
img{border: 0 none;}
input, select{font-family: NotoSans, 'Noto Sans KR', dotum, "돋움", sans-serif}
a, button, submit{transition: .2s ease-in-out}

a{text-decoration:none;color:#000;border:none;margin:0;padding:0;}
a:visited{text-decoration:none;border:none;}
a:active{text-decoration:none;border:none;}
a:hover{text-decoration:none;border:none;}
	
fieldset{border:none;margin:0; padding:0;}
img, input.image {border:0 none;}
form, input{margin:0;padding:0;}
legend{display:none; margin:0; padding:0;}
caption{overflow:hidden;width:0;height:0;line-height:0;text-indent:-9999px}
ul,ol,li {list-style:none;}
select{font-size:0.93em;}
textarea{font-size:0.93em;margin:0;padding:0;}
button{border:0;cursor:pointer}

hr{visibility:hidden;overflow:hidden;position:absolute;width:0;height:0;font-size:0;line-height:0;}
td *, div *, span *, p *{vertical-align: middle;}
strong, b, em, u, i{vertical-align: baseline;}
h1{font-size: 200%;}
h2{font-size: 180%;}
h3{font-size: 160%;}
h4{font-size: 140%;}
h5{font-size: 120%;}
h6{font-size: 100%;}

::selection {background:#4a5273;color:#fff;text-shadow:none;}