@charset "utf-8";

.m_content{min-width:320px;}
.m_content a{display:block;}
.m_content em{font-style:normal}
.menu_mayor{position:static}
@media all and (min-width:768px) {
.menu_mayor{border-bottom:1px solid #fff;background:rgba(0,0,0,.5);position:absolute;z-index:1;width:100%;}
.menu_mayor .allmenu{height:90px;}
.menu_mayor .allmenu h1{padding:10px 0 0}
.menu_mayor .menu{margin:0;position:relative}
}
@media all and (min-width:1024px) {
.menu_mayor .deptcon{top:137px;left:0;top:72px;right:auto;bottom:auto;width:auto;margin:0;}
.menu_mayor .dept01>li{padding:0;}
.menu_mayor .dept01>li:after{background:#fff;}
.menu_mayor .dept01>li>a{color:#fff}
.menu_mayor .dept01>li.on>a{color:#fff}
.menu_mayor .dept01>li.on>a:after{background:#fff;}
.menu_mayor .dept03{display:none !important;}
.menu_mayor{background:rgba(0,0,0,.1)}
.menu_mayor .menu01 .deptcon .dept02{margin-left:60px;}
.menu_mayor .menu02 .deptcon .dept02{margin-left:200px;}
.menu_mayor .menu03 .deptcon .dept02{margin-left:90px;}
.menu_mayor .menu04 .deptcon .dept02{margin-left:210px;}
}
.menu_mayor .sub_visual{display:none;}
.menu_mayor .gnb.on .top_sitelink{margin:40px 0 0;}
@media all and (min-width:768px) {
.sub_visual{height:320px;background:url(/images/02_mayor/common/img_sub_visual3.jpg) center top;background-size:cover;display:block;overflow:hidden}
}
@media all and (min-width:1024px) {
.sub_visual{height:376px;}
.menu_mayor .gnb.on .top_sitelink{margin:0;}
}
.visual ul{height:calc(100vw - 170px);}
.visual li{background:url(http://www.jeonbuk.go.kr/upload_data/board_data/CONTENT_FILE/158345773452252.jpg) center bottom no-repeat;background-size:cover;height:100%;}
.visual span{width:55%;margin:0 17px 0 auto;padding-top:10%;display:block;}
.visual img{max-width:100%;}
.m_con{padding:1px 17px 20px;background:url(/images/02_mayor/main/pattern_drop.jpg);}
.m_con .mc_title{margin:26px 0 20px;text-align:center;}
.m_con .mc_title span{width:137px;height:0;padding-top:47px;margin:0 auto;background:url(/images/02_mayor/main/txt_content.png) no-repeat;display:inline-block;overflow:hidden}
.promise_box .mc_title span{background-position:-393px 0px;}
.action_box .mc_title span{background-position:-812px 0px;}
.m_con h2{font-size:1.666rem;font-weight:400;text-align:center;}
.m_con h2:after{width:35px;height:1px;display:block;margin:20px auto; content:""}
.btn_set a{width:34px;padding-top:34px;margin-right:4px;background-color:#fff;border-radius:50%;display:inline-block;}
.btn_set a:last-child{margin:0}
.btn_set .prev{background-position:-2px -104px;}
.btn_set .next{background-position:-145px -104px;}
.btn_set .more{background-position:9px -285px;}
.hope{padding:36px 34px;background:#fff;border:1px solid #ccc}
.hope h2{color:#333;font-weight:500;}
.hope h2 strong{color:#8b0a04;font-weight:500;}
.hope h2:after{background:#333;}
.hope_list li{padding:20px 0;border-bottom:1px dashed #aaa;}
.hope_list li:last-child{border-bottom:0;}
.hope_list a{padding-left:104px;position:relative}
.hope_list a:before{width:84px;height:84px;background:url(/images/02_mayor/main/img_hope.gif);display:inline-block;border-radius:50%;content:"";position:absolute;left:0;}
.hope_list strong{font-size:1.0666rem;font-weight:400;display:block}
.hope_list em{color:#555;display:inline-block}
.hope_list em:last-of-type{padding-right:10px;color:#939393;font-weight:400;}
.hope_list em:last-of-type:before{padding-left:10px;margin-right:10px;font-size:10px;position:relative;top:-2px;content:"|"}
.hope_list .badge{padding:5px 18px;border-radius:30px;display:inline-block}
.hope_list .b_complete{background:#535353;color:#fff;}
.hope_list .b_standby{background:#d1d1d1}
.hope_write{padding:10px 0;background:#0085C5;border-radius:30px;font-size:1.2rem;color:#fff;text-align:center;display:block;}
.hope_write:after{width:29px;height:24px;padding-left:10px;background:url(/images/02_mayor/main/icon_hope_write.png) right no-repeat;display:inline-block;content:""}
.story{margin-top:20px;padding:36px 34px;background:url(/images/02_mayor/main/bg_storyboard_left.gif) left bottom no-repeat, url(/images/02_mayor/main/bg_storyboard_right.gif) right top no-repeat #49598f;position:relative}
.story h2{color:#fff;}
.story h2:after{background:#fff;}
.story_list{height:40px;overflow:hidden;}
.story_list a{font-size:1.0666rem;color:#fff;}
.story .more{position:absolute;top:20px;right:20px;}
.mayor{padding:36px 34px;background:url(/images/02_mayor/main/img_mayor.jpg) #907a54 right no-repeat;}
.mayor.may2{background:url(http://www.jeonbuk.go.kr/upload_data/board_data/CONTENT_FILE/158345773458351.jpg) #907a54 right no-repeat;}
.mayor h2{line-height:1.4;font-size:1.6666rem;font-weight:500;color:#fff;text-align:left}
.mayor h2 strong{color:#0085C5;font-size:2.333rem;font-weight:500;display:block;}
.mayor h2:after{display:none}
.mayor p{padding:10px 0;font-size:0.9333rem;color:#f5f5f5;text-shadow:0 0px 10px #000}
.mayor li{width:calc(33.33% - 4px);display:inline-block}
.mayor a{width:76px;height:76px;line-height:76px;background:rgba(255,255,255,.9);border-radius:50%;text-align:center;font-weight:400}
.mayor li:first-of-type a{background:rgba(255,206,8,.9);}
@media (min-width:426px) and (max-width:767px) {
.mayor h2 strong{color:#fff;}
}
.vision{padding:36px 34px;margin-top:20px;background:rgb(56,62,86);background:linear-gradient(180deg, rgba(56,62,86,1) 0%, rgba(133,148,166,1) 100%);}
.vision h2:after{background:#fff;}
.vision p{margin:0 0 30px;font-size:0.9333rem;color:#fff;text-align:center;}
.vision ul:after{display:block;clear:both;content:""}
.vision li{width:33.33%;text-align:center;float:left}
.vision i{width:57px;height:57px;margin:10px auto;border:1px solid #fff;background:url(/images/02_mayor/main/icon_vision.png) no-repeat;display:block;border-radius:50%;}
.vision li:nth-of-type(1) i{background-position:-1px 8px}
.vision li:nth-of-type(2) i{background-position:-74px 6px}
.vision li:nth-of-type(3) i{background-position:-147px 6px}
.vision li:nth-of-type(4) i{background-position:-220px 6px}
.vision li:nth-of-type(5) i{background-position:-294px 10px}
.vision a{color:#fff;}
.manifesto{height:187px;background:url(/images/02_mayor/main/bg_manifesto.gif) 50% 30px #ad7a68 no-repeat;}
.manifesto a{height:100%;}
.manifesto h2{padding:20px 0;}
.manifesto p{display:none;}
.photo_board{margin-top:20px;position:relative;}
.photo_blist a{position:relative}
.photo_blist .badge{width:60px;height:60px;background:url(/images/02_mayor/main/icon_photo.png) rgba(0,0,0,.7) no-repeat center;border-radius:50%;position:absolute;top:20px;left:20px;display:block}
.photo_blist span{height:229px;display:block;overflow:hidden}
.photo_blist p{width:calc(100% - 20px);padding:10px;background:rgba(0,0,0,.6);color:#fff;text-align:center;position:absolute;bottom:0;}
.photo_board .btn_set{position:absolute;top:32px;right:20px;}
.schedule{padding:26px;margin-top:20px;background:#fff;border:1px solid #ccc;position:relative;box-sizing:border-box}
.schedule h2:after{display:none}
.schedule .date{width:142px;padding:6px 0px;margin:10px auto 0;border-radius:30px;background:#0085C5;color:#fff;text-align:center;font-size:1.2rem;display:block;box-sizing:border-box}
.schedule .btn_set a{width:34px;padding-top:34px;margin:0;background-color:#fff;border:1px solid #ccc;border-radius:50%;position:absolute;top:75px;}
.schedule .btn_set .prev{left:26px;}
.schedule .btn_set .next{right:26px;}
.schedule .btn_set .prev2, .schedule .btn_set .next2{display:none !important}
.schedule .btn_set .prev2{left:26px;background:0;}
.schedule .btn_set .prev2:before{content:"《";display:block;position:absolute;top:6px;left:6px}
.schedule .btn_set .next2{right:26px;background:0;}
.schedule .btn_set .next2:before{content:"》";display:block;position:absolute;top:6px;right:6px}
.schedule .btn_set .more{bottom:20px;top:auto;right:20px;}
.schedule_list{display:none}
.schedule_plan{max-height:176px;margin:26px 0 0;overflow-x:auto}
.schedule_plan strong{padding:0 6px;margin:3px 20px 0px 0;background:#d6d6d6;display:inline-block;vertical-align:top;}
.schedule_plan a{margin:0 0 20px 0;}
.schedule_plan a span:first-of-type{font-weight:500;color:#0082c0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:block}
@media all and (min-width:768px) {
.visual ul{height:558px;}
.visual li{background-position:48% 0;}
.visual span{width:45%;margin:0 45px 0 auto;padding-top:30%;}
.m_con{padding:1px 30px 30px;}
.m_con .mc_title{text-align:left;padding-left:10px;margin:36px 0 30px;}
.m_con div[class$="_box"]:after{display:block;clear:both;content:""}
.m_con div[class$="_box"]>div{float:left;width:50%;box-sizing:border-box;}
.m_con div[class$="_box"]>div:last-of-type{margin-top:0;}
.hope{padding:36px 20px;min-height:347px;}
.hope_list{height:120px;overflow:hidden}
.hope_list li{border:0}
.hope_list em:last-of-type{padding-right:6px;}
.hope_list .badge{padding:5px 14px;}
.hope_write{margin:20px 0 0;}
.story_list{height:auto;padding:20px 0}
.story_list li{padding-bottom:20px;margin-bottom:20px;border-bottom:1px dashed #ddd;}
.story_list li:last-child{margin:0;border:0;}
.mayor{height:326px;}
.mayor ul{margin:20px 0 0;}
.vision{height:326px;padding:36px 10px}
.vision li{width:20%;}
.vision a{font-size:0.9333rem;}
.manifesto{height:330px;background-position:center bottom}
.manifesto h2{padding:30px 0 0;}
.manifesto h2:after{background:#fff}
.manifesto p{font-size:1.0666rem;text-align:center;color:#fff;display:block;}
.photo_blist span{height:330px;}
.schedule:after{display:block;clear:both;content:""}
.schedule h2{float:left;margin-right:40px;}
.schedule .btn_set{position:absolute;top:190px;left:6px;}
.schedule .btn_set a{top:auto;bottom:40px;}
.schedule .btn_set .prev2, .schedule .btn_set .next2{display:block !important}
.schedule .btn_set .prev, .schedule .btn_set .next{display:none !important}
.schedule .btn_set .prev2{left:30px;}
.schedule .btn_set .next2{right:auto;left:74px;}
.schedule .btn_set .more{bottom:40px;right:auto;left:116px;}
.schedule_wrap{float:left;width:calc(100% - 182px);}
.schedule_list{width:100%;margin:0 auto;display:block;overflow-x:auto;}
.schedule_list:after{display:block;clear:both;content:""}
.schedule_list ul{width:1200px;}
.schedule_list li{width:31px;text-align:center;float:left;}
.schedule_list a{padding:0 3px;font-size:1.2rem;text-align:center;}
.schedule_list a em{font-size:.7333rem;padding:5px 0 0;text-transform:uppercase;display:block}
.schedule_list .today{background:#0085C5;color:#fff;}
.schedule_list .ckeck{background:#123466;color:#fff !important;}
.schedule_list .sun{color:red}
.schedule_list .sat{color:#195090}
.schedule_plan{max-height:76px;margin:26px 0 0;overflow-y:auto}
.schedule_plan li{float:left;width:48%;margin:0 2% 10px 0;}
}
@media all and (min-width:1024px) {
.main_container{min-width:1200px;}
.btn_set a:hover{background-color:#ffd320}
.visual ul{height:618px;}
.visual span{padding-top:14%}
.m_con{padding:1px 0 30px;}
.m_con>div{width:1200px;margin:0 auto;}
.m_con .mc_title{text-align:left;padding-left:10px;margin:36px 0 30px;}
.m_con>div:after{display:block;clear:both;content:""}
.m_con div[class$="_box"]{width:386px;margin:0 20px 20px 0;float:left;}
.m_con div[class$="_box"]:last-of-type{margin-right:0;}
.m_con div[class$="_box"]:after{display:none;}
.m_con div[class$="_box"]>div{float:none;width:100%;}
.m_con div[class$="_box"]>div:last-of-type{margin-top:20px;}
.hope{height:460px;}
.hope_list{height:66%}
.hope_list li:hover strong{text-decoration:underline}
.story{height:190px;padding:26px 34px;}
.story_list{padding:10px 0;height:40px;}
.story_list li{border:0;}
.story_list li:hover a{text-decoration:underline}
.mayor{height:330px;background-position:right bottom;}
.mayor li:hover a{text-decoration:underline;background:rgba(255,206,8,.9)}
.manifesto{height:330px}
.manifesto:hover{border:4px solid #983B3A;}
.vision{height:320px}
.vision li:hover a{color:#ffd320;text-decoration:underline;}
.photo_blist span{height:320px;}
.photo_blist p{padding:20px 10px;}
.schedule .btn_set{top:auto;right:0;bottom:0px;left:auto;}
.schedule .btn_set a{bottom:20px;}
.schedule .btn_set .prev2{left:auto;right:116px;}
.schedule .btn_set .next2{left:auto;right:74px;}
.schedule .btn_set .more{bottom:20px;right:30px;left:auto;}
.schedule_list{padding:0 0 10px;overflow:hidden}
.schedule_list a:hover{background:#ccc;color:#000;font-weight:500}
.schedule_plan{width:100%;max-height:60px;margin:10px 0 30px 0;display:inline-block;}
.schedule_plan li{width:30.33%;max-height:60px;}
.schedule_plan:after{display:block;clear:both;content:""}
.schedule_plan a:hover{border-bottom:1px dotted}
.schedule_plan a span:first-child{max-height:36px;line-height:1.2;margin:0 0 8px;overflow:hidden;display:block}
}    